* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  width: 12em;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(59, 59, 59);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  padding: 1em 10em 1em 2em;
  z-index: -1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav-black {
  background-color: #111;
}
.liste {
  display: flex;
  gap: 3em;
}
.liste li {
  list-style: none;
}
.liste li a {
  text-decoration: none;
  color: white;
}
